/*******************************************
 GENERAL 
******************************************/

a {
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}



/*******************************************
HEADER
******************************************/

#logo {
	text-align: center;
}

.main-header {
	margin: 0 0 0 0;
	overflow: auto;
	width: 100%;
	position: relative;
	z-index: 1000;
}

h1 {
	color: #ffffff;
	font-family: 'Candal', sans-serif;
	margin: 1px 0 2px 0;
	font-size: 1.8em;
}

h2 {
	color: #ffffff;
	font-family: 'Candal', sans-serif;
	margin: 2px 0 11px 0;
	font-size: 0.85em;
}


/*******************************************
NAV
******************************************/

nav {
	background-color: #297F52;
	text-align: center;
	padding: 5px 0 5px 0;
}

nav a {
	color: #ffffff;
	font-weight: bold;
	padding: 0 2px;
	transition: all 0.2s;
}


nav ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
}

nav li {
	display: inline-block;
}


nav a:hover {
	color: #27583F;
}

nav a.selected {
	color: #27583F;
}


/*******************************************
BANNER
******************************************/

.banner {
	margin-top: -110px;
	text-align: center;
	padding: 540px 0 10px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../img/lake.jpg) no-repeat center / cover;
}

.banner p {
	font-size: 1.4em;
	font-family: 'Candal', sans-serif;
	color: #ffffff;
	margin-bottom: 10px;
}

.arrow {
  width: 40px;
  margin: 10px 0;
}

/*******************************************
SECTION
******************************************/

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px 5% 40px 5%;
	box-sizing: border-box;
}

#gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}


#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	transition: all 0.1s;
}

#gallery li:hover {
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}



#gallery li a p {
	font-size: 0.85em;
	color: #000000;
	padding: 5%;
	margin: 0;
}




/*******************************************
FOOTER
******************************************/

.main-footer {
	text-align: center;
	clear: both;
	padding: 40px;
	background-color: #37A96D;
}

footer p {
	font-size: 0.85em;
}

.icona-social {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}



/*******************************************
ABOUT
******************************************/

.container {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../img/map.jpg) no-repeat center/ cover;
    background-attachment: fixed;
	padding: 20px 0 10px 0;
}


.foto-profilo {
	display: block;
	max-width: 200px;
	margin: 0 auto 40px;
	border-radius: 100%;
}

#wrapper section {
	padding-top: 20px;
}

#about p,  #about h3 {
	color: #fff;
}


/*******************************************
CONTACT
******************************************/


#contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
}



#contact-info a {
	color: #000000;
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}


#contact-info li.phone a {
	background-image: url(../img/phone.png);
}

#contact-info li.mail a {
	background-image: url(../img/mail.png);
}

#contact-info li.twitter a {
	background-image: url(../img/twitter.png);
}

.main-header {
	transition: 0.5s;
}

.is-sticky .main-header {
	background-color: #fff;
}

.is-sticky a, .is-sticky h1, .is-sticky h2 {
	color: #000;
}






