
@media screen and (min-width: 760px) {

	  .imm-sx {
    	float: left;
    	margin: 0 0 50px 0;
    	width: 50%;
      }

      .descr-dx {
      	float: right;
      	width: 50%;
      	padding-left: 5%;
      }

       .projects h2 {
      margin-top: 0;
      font-size: 1.3em;
      }

       .illustrations li {
      float: left;
      width: 25%;
      }
      
     #first {
        float: left;
        width: 60%;
        text-align: right;
      }

      #rotate {
        width: 40%;
        float: right;
        text-align: left;

      }

}

